body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #f60;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

nav {
    color: #111;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -125%)
}

nav a{
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: #111;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #000;
}

nav a:hover {
    background-color: #f40;
    color: #000;
}

main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #f40;
    border-radius: 5px;
}

.project-image{
    width: 300px;
    border: 1px solid #fff;
    border-radius: 10px;
}


footer {
    color: #fff;
    padding: 0px;
    text-align: center;
}