---
title: Bruno Glecer
layout: base.njk
---

<p> Hi! I'm Bruno, this website is still under construction :)</p>



<header>
    <h2>My Projects</a></h2>
</header>

<div class="preview-grid">
{% for post in collections.posts %}
    <div class="preview-post">

        {% if post.data.image %}
        <a href="{{ post.url }}">
            <img src="{{ post.data.image }}" class="preview-image" alt="{{ post.data.title }}">
        </a>
        {% endif %}

        {% if post.data.video %}
        <a href="{{ post.url }}">
            <video autoplay loop muted playsinline  class="preview-image">
                <source src="{{ post.data.video }}" type="video/webm">
            </video>
        </a>
        {% endif %}

        <div class="preview-text">
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>

            {% if post.data.preview %}
                {{ post.data.preview | safe }}
            {% elseif post.data.description %}
                <p>{{ post.data.description }}</p>
            {% else %}
                <p>No preview available.</p>
            {% endif %}
        </div>

    </div>
{% endfor %}
</div>